// ========================================
// Fonts
// ========================================
$font1: 'Open Sans', sans-serif;

$xsmall: 	14px;
$small:		16px;
$med:		20px;
$large:		24px;
$xlarge:	36px;