// =================================
// Professional Roll - Search
// =================================
.professionals-search{
	margin:15px 0 0;
	@include bp-screen-sm{
		margin:0;
	}
}

.professionals-search-form {
	.fe-form-submit-wrap {
		padding: 0;

		@include bp-screen-md {
			padding-top: 32px;
		} // @include bp-screen-md

		button {
			width: 100%;
		}
	} // .fe-form-submit-wrap

	.fe-form-submit {
		@include bp-screen-md {
			padding-top: 16px;
			padding-bottom: 16px;
		} // @include bp-screen-md
	 }

	.fe-input-label {
	 	color: $color2;
	}

	.input-range-status-message {
		color: $color2;
	}
} // .professionals-search-form

.professionals-search-form-inputs {
	padding: 10px 15px 15px;

	.fe-input-type-select {
		height: 46px;
	} // .fe-input-type-select

	@include bp-screen-md {
		display: flex;
		flex: 1;
		padding: 10px 15px 15px;
		max-width: 1140px;
	} // @include bp-screen-md

	.fe-input-wrap {
		@include bp-max($screen-md) {
			margin-bottom: 15px;
		}
	}

	.fe-input-zipcode_radius-wrap {
		@include bp-screen-md {
			min-width: 180px;
			flex: 1;

		} // @include bp-screen-md
	} // .fe-input-zipcode_radius-wrap
} // .professionals-search-form-inputs

.button-wrapper {
	@include bp-screen-sm {
		text-align: right;
	}

	.btn {
		margin-bottom: 10px;
	}
}

// =================================
// Professional Roll - Card
// =================================
.prof-result-photo {
	margin-bottom: 15px;

	@include bp-screen-sm {
		margin-bottom: 0;
	}
}

.prof-result-card {

	@include bp-screen-xxs {

		h2 {
			font-size: $med;
			margin-bottom: 10px;
		}
		h3 {
			font-size: $small;
			margin-bottom: 0;
		}

		.section-content-label {
			display: block;
			margin: 0;
		}

		.section-content-value {
			margin-bottom: 10px;
			display: block;
		}
	}
}

// =================================
// Professional Single
// =================================
.company-logo {
	height: 80px;
	width: auto;
}

.professional-single-header {

	padding-bottom: 15px;
	margin-bottom: 30px;
	border-bottom: 1px solid #eee;

	.professional-contact-form-wrap {

		@include bp-screen-xs {
			padding-top: 15px;
			border-top: 1px solid #eee;
			margin-top: 15px;
		}
	}



	.fe-input-wrap {
		margin-bottom: 15px;
	}
}

.my-listings {

	&:nth-child(2n+2) {
		@include bp-screen-xs {
			clear: both;
		}
	}

	.img-link {
		display: block;
		background: #ccc;
		margin-bottom: 20px;
	}
}


.professional-preview {
	.professional-avatar-image-wrap .avatar-photo {
		object-fit: cover;
		height: 350px;
		width: 350px;
	} // .professional-avatar-image-wrap
}
