// =================================
// IFTTT Request Body
// =================================
.ifttt-request-body {
	position: relative;

	.copy-btn {
		position: absolute;
		top: 0;
		right: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 0;
	} // .copy-btn
} // .ifttt-request-body
