.input-select {
  select {
    @apply p-3 border-gray-400 border w-full text-sm;
    appearance: none;

    min-width: 200px;
    padding-right: 48px;
  }
}

.select-wrap {
  @apply flex relative w-full;
}

.select-dropdown {
  @apply bg-gray-400 absolute top-0 right-0 bottom-0 rounded-tr-lg rounded-br-lg flex justify-center items-center pointer-events-none w-10;

  .dropdown-arrow {
    @apply block border-white border-b border-r outline-none;
    height: 10px;
    transform: rotate(45deg);
    width: 10px;
  }
}
