.member-item-edit-header {
	display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

.member-item-edit-name {
	display: block;
	max-width: 88%;
} // .member-item-edit-name
