// ====================================
// Exchange Space Footer
// ====================================
.exchange-space-show-footer {
  border-top: 2px solid $color9;
  margin: 0 -25px -25px;
  margin-right: -25px;
  padding: 20px 25px;
} // .exchange-space-show-footer
