// =================================
// IFTTT Request Body
// =================================
.api-token-input {
	height: 36px;
} // .api-token-input

.api-token-input-copy {
	top: -1px;
	position: relative;
	left: -5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
} // .api-token-input-copy
